<div class="page-header">
  <h1><%= @dino.name %></h1>

  <div class="page-actions">
    <%= link_to 'Edit', edit_dino_path(@dino), class: 'btn' %>
  </div>
</div>

<div class="row">
  <div class="span8">
    <div class="dino-content">
      <%= simple_format @dino.content %>
    </div>
  </div>
  <div class="span4">
    <strong>Copies</strong>
    <ul>
      <% @dino.copies.each do |dino| %>
        <li><%= link_to dino.name, dino %></li>
      <% end %>
    </ul>
  </div>
</div>
