<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Rex</a>
      <div class="container">
        <ul class="nav">
          <li><%= link_to "Dinos", dinos_path  %></li>
          <li><%= link_to "Documents", documents_path  %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
